/* FavoritesPage.css */

.favoritesPage {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

nav a {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
}

/* Change link color to blue when hovered */
a:hover {
    color: blue;
}

/* Tooltip container */
.tooltip {
    position: relative;
    cursor: pointer; /* Optional: adds a pointer cursor on hover */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto; /* Adjusted to auto to fit content */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px; /* Add horizontal padding */

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Adjusted to push tooltip further down */
    left: 50%;
    transform: translateX(-50%); /* Use transform for better centering */

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
