/* FavoritesPage.css */

.favoritesPage {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

nav a {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
}

/* Change link color to blue when hovered */
a:hover {
    color: blue;
}
