.top-players-container {
    display: flex;
    width: 700px;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
}

.players-list, .player-stats {
    flex: 1;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

.header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.player {
    border-bottom: 1px solid black;
    padding: 5px 0;
}
.button-link {
    margin-right: 10px;
}


a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent */
}

/* Change link color to blue when hovered */
a:hover {
    color: blue;
}

