/* Players.css */
.players {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players h2 {
    padding-top: 20px;
}

.players table {
    max-width: 100%;
    border-collapse: collapse;
    width: 700px;
    margin: 20px auto; /* Center the table vertically */
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.players table th,
.players table td {
    padding: 10px;
    text-align: center;
}

.players table th {
    background-color: #333;
    color: #fff;
}

.players table td {
    background-color: #fff;
}

.players table tr:nth-child(even) {
    background-color: #f2f2f2;
}
