/* Teams.css */
.teams {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams h2 {
    padding-top: 20px;
}

.teams table {
    max-width: 100%;
    border-collapse: collapse;
    width: 700px;
    margin: 20px auto; /* Center the table vertically */
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teams table th,
.teams table td {
    padding: 10px;
    text-align: center;
}

.teams table th {
    background-color: #333;
    color: #fff;
}

.teams table td {
    background-color: #fff;
}

.teams table tr:nth-child(even) {
    background-color: #f2f2f2;
}
